                                         <div class="log">
		  			  <!-- Display user thumb with linked to user website -->
					  <%= comment.user ? comment.user.login : "Anonymous"%> says,
					  <br/>
					  <%= comment.body%>
					  </div>
		     
